.container {
  width: 750px;
  margin: auto;
  padding-top: 50px;

  @include respond-to(tablet) {
    width: 100%;
    max-width: 700px;
  }

  @include respond-to(phone) {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
  }
}
